[submodule "Neural_Cellular_Automata/Neural_Cellular_Automata_for_diverse_Tree_growing"]
	path = Neural_Cellular_Automata/Neural_Cellular_Automata_for_diverse_Tree_growing
	url = https://github.com/Thahit/Neural_Cellular_Automata_for_diverse_Tree_growing.git
